 #app
{
    background-color: #bbc;
    background: -webkit-linear-gradient(top, #bbc, #585);
    background: -moz-linear-gradient(top, #bbc, #585);
    background: -ms-linear-gradient(top, #bbc, #585);
    background: linear-gradient(top, #bbc, #585);
}
#app>header,
#app>footer
{
    background-color: #585;
}