#game{
	font-size: 300%;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

header{
	color: red;
}
#warButton{
	font-size: 200%;
	position: absolute;
    top: 50px;
    right: 350px;
    width: 200px;
    height: 100px;
}

#playerPic1{
	font-size: 175%;
	position: absolute;
    top: 0px;
    right: 300px;
    width: 200px;
    height: 100px;
	float: right;
    
}

#playerPic2{
	font-size: 175%;
	position: absolute;
    top: 400px;
    right: 300px;
    width: 200px;
    height: 100px;
	bottom: 0;
	float: right;
   
}

#draw{
	display: none;
}

#graphics{
	height: 50%;
	width: 50%;
	
}

#playerPic1{
	color: red;
}

#playerPic2{
	color: red;
}

#p2P{
	
}

#war1C #war2C{
	float: left;
	width: 20%;
	height: auto;
}