#game{
	font-size: 300%;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

header{
	color: red;
}
#warButton{
	font-size: 200%;
	position: absolute;
    top: 50px;
    right: 350px;
    width: 200px;
    height: 100px;
}

#w1#w2{
	float: left;
}

#playerPic1{
	font-size: 175%;
	position: absolute;
    top: 0px;
    right: 400px;
    width: 500px;
    height: 200px;	
	color: red;   
	display: inline-block;
	float: left;
	clear: bottom;
}

#playerPic2{
	font-size: 175%;
	position: absolute;
    top: 500px;
    right: 400px;
    width: 500px;
    height: 200px;
	bottom: 0;	
	color: red;	
	display: inline-block;
	float: left;
   
}

#draw{
	display: none;
}

#graphics{
	height: 50%;
	width: 50%;
	
}

#p2P{
	
}

#pic1 #pic2 {
	clear: left;
	
}


